.nav {
    position: fixed;
    display: flex;
    align-items: flex-start;
    top: 3rem;
    gap: 1.5625rem;
    left: 600px;
    column-gap: 100px;
}

.nav-about {
	transform: translateX(-1.56rem);
}

.nav-skills {
	transform: translateX(-6.25rem);
}

.nav-projects {
	transform: translateX(-10.94rem);
}

.nav-contact {
	transform: translateX(-15.62rem);
}

a {
	width: 3.125rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.625rem;
}

.page-title {
	font-size: 0.875rem;
	color: white;
	cursor: default;
}

.nav-link {
	opacity: 0.7;
	text-decoration: none;
}

.nav-link:hover {
	opacity: 1;
}

.nav-link.current {
	opacity: 1;
}

@media (min-width : 768){
	.section_name{
		font-size: large;
	}
}

@media (max-width: 1100px) {

	.section_name {
		font-size: small;
	}

	.nav-about,
	.nav-skills,
	.nav-projects,
	.nav-contact {
		transform: translateX(0);
	}

	.nav {
		transform: translateX(-50%);
		left: 65vw;
		column-gap: 28px;
	}

	.nav-link {
		width: 2rem;
	}

	.nav-link img {
		width: 2rem;
	}

	.page-title {
		display: none;
	}
}

.section_name {
	position: relative;
	color: white;
	top: -22px;
	
}